/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 26, 2023, 9:12:19 AM
    Author     : nesit
*/

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Card styling */
.custom-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Image styling */
.custom-card img {
  border-radius: 8px;
}

/* Title styling */
.custom-card h5 {
  font-size: 1.2em;
  margin-top: 10px;
}

/* Description styling */
.custom-card p.card-text {
  color: #555;
}

/* Price styling */
.custom-card p {
  font-weight: bold;
  color: #007bff; /* Change color as needed */
}

/* Button styling */
.card-button {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff; /* Change color as needed */
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #0056b3; /* Change color as needed */
}