<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!--  Session Config  -->
    <session-config>
        <session-timeout>
            10080 <!-- 7 Days; This is quite important since the UserCart object is stored in the user's session -->
        </session-timeout>
        <cookie-config>
            <name>gsw_session</name> <!-- Changed the JSESSIONID to a customized one -->
            <max-age>604800</max-age> <!-- 7 Days -->
            <http-only>true</http-only> <!-- Now the session is safe from XSS attacks -->
        </cookie-config>
    </session-config>

    <!--  Filter Config  -->
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.isiraadithya.greensupermarket.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CSRFFilter</filter-name>
        <filter-class>com.isiraadithya.greensupermarket.filters.CSRFFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CSRFFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--  JSP Config  -->
    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
            <taglib-location>tld/c-1_0.tld</taglib-location>
        </taglib>
    </jsp-config>

    <!-- Error Mappings -->
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
</web-app>
